body { color:#121212; background:#d9ebf6;}

a {
	color:#1b6992;
}
/*
#navigation ul li a, #navigation ul.sf-menu li a { color:#2883DE; } */

a:hover, a:active, a:focus { color:#083d58; }

h1, h2, h3, h4, h5, h6 { color:#181818; }

#header #site-name a { color:#262626; }

#header #site-name a:hover { color: #3253ad; }

#header #site-slogan { color: #7d7d7d; }


#wrap { background:white; }

#footer { background-color:#d9ebf6; }

#footer { border-top:1px solid #aaa;}

